In [1]:
import pandas as pd

In [3]:
entidades = pd.read_csv("../data/bronze/entidades_unicas.csv", sep=';')
entidades.shape

(10976, 7)

In [5]:
entidades['ID'].value_counts()[:11]

ID
0       120
2323     94
30       37
3747     37
1177     33
93       30
2584     27
53       24
104      24
142      21
94       21
Name: count, dtype: int64

In [6]:
# Se consideran las diez etiquetas con más registros a excepción de la etiqueta igual a cero ya que contiene mucho ruido
ids_a_considerar = [2323, 30, 3747, 1177, 93, 2584, 53, 104, 142, 94]
entidades_modelo = entidades[entidades['ID'].isin(ids_a_considerar)]
entidades_modelo.shape

(348, 7)

In [8]:
# Se eliminarán las columnas que no se necesitarán para la ejecución del proyecto
entidades_modelo = entidades_modelo.drop(columns=['ORDEN', 'DEPARTAMENTO', 'MUNICIPIO'])
entidades_modelo.head()

,NOMBRE,CODIGO,NIT,ID
203,DEPARTAMENTO CUNDINAMARCASECRETARIA JURIDICA,702165101.0,899999114,30
204,DEPARTAMENTO CUNDINAMARCASECRETARIA MINAS ENER...,702262189.0,899999114,30
205,DEPARTAMENTO CUNDINAMARCASECRETARIA MUJER EQUI...,702312794.0,899999114,30
206,DEPARTAMENTO CUNDINAMARCASECRETARIA PLANEACION,708701222.0,899999114,30
207,DEPARTAMENTO CUNDINAMARCASECRETARIA TECNOLOGIA...,702162363.0,899999114,30

In [14]:
entidades_modelo['NOMBRE'] = entidades_modelo['NOMBRE'].str.replace('.', '')

entidades_modelo[entidades_modelo['NOMBRE'].str.contains('.')]

,NOMBRE,CODIGO,NIT,ID
203,DEPARTAMENTO CUNDINAMARCASECRETARIA JURIDICA,702165101.0,899999114,30
204,DEPARTAMENTO CUNDINAMARCASECRETARIA MINAS ENER...,702262189.0,899999114,30
205,DEPARTAMENTO CUNDINAMARCASECRETARIA MUJER EQUI...,702312794.0,899999114,30
206,DEPARTAMENTO CUNDINAMARCASECRETARIA PLANEACION,708701222.0,899999114,30
207,DEPARTAMENTO CUNDINAMARCASECRETARIA TECNOLOGIA...,702162363.0,899999114,30
...,...,...,...,...
9172,ICBF REGIONAL CHOCO,704142603.0,899999239,3747
9173,ICBF REGIONAL CORDOBA,704187525.0,899999239,3747
9174,ICBF REGIONAL GUAJIRA,703458380.0,899999239,3747
9175,ICBF REGIONAL GUAVIARE,704192269.0,899999239,3747
9176,ICBF REGIONAL CAQUETA,704143114.0,899999239,3747

In [11]:
# Se procederá a una revisión manual para determinar si la etiqueta es correcta o nó
entidades_modelo.to_csv('../data/bronze/entidades_proyecto.csv', sep=';', index=False)